body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eae2b7;
}

header
{   margin-top: -2rem;
    background-color: #005f73;
    text-align: center;
    padding-bottom: 2rem;  
    width: 100%;
 } 

#hero-button {
    background-color: #eae2b7;
    color: #005f73;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1em;
}



footer
{
    background-color: #005f73;
    color: #e9ecef;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    
}

/* class selectors */

.hero-image{
    
    position: relative;
    height: 100%;    
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top:5%;
    left:7%;
    text-align: center;    
}

.events, .weather, .ad{
    border: 2px solid black;
    padding: 0 2rem;
}

header h1{
    font-size: 3rem;
    padding-top: 1.5rem;
    color: #eae2b7;
}

/* id selectors */

#content{
    display: flex;
    flex-direction: column;
}


#description
{
    text-align: center;
}



#menu{
    position: absolute;
    left: 25px;
    cursor: pointer;
    color: #005f73;
    background-color: #eae2b7;
    font-size: 2rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}

.navigation.open a{
    display: block;
}


.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

.navigation a{
    text-decoration: none;
    padding: 1rem;
    color: #eae2b7;
    display: none;
}


/* nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

nav ul a{
    text-decoration: none;
    padding: 2rem;
    color: #eae2b7;

} */



/* join selectors */

label{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
input, textarea{
    display: block;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border: 2px solid gray;
    border-radius: 8px;
    width: 400px;
}

fieldset{
    padding: 2rem 1rem;
    box-shadow: 0 2px 5px 5px #093863;
    border: none;
    border-radius: 10px;
    background-color: rgb(232, 248, 247);
    ;
}

input[type="radio"] {
    display: inline;
}
input[type="submit"]{
    cursor: pointer;
    margin-top: 3rem;
    width: 430px;
}

#description{
    height: 80px;
    text-align: left;
}

#level input{
    padding: 1rem 0;
    max-width: 30px;
}
#level{
    padding: 1rem 0;
}

#form{
    display: block;
    padding: 2% 2%;

}

#heading{
    padding-top: 1rem;
}


#membership{

    padding: 2rem 1rem;
    box-shadow: 0 2px 5px 5px #093863;
    border: none;
    border-radius: 10px;
    background-color: rgb(232, 248, 247);
    margin: 2rem 0.2rem;
}


#membership p{
    font-size: 1.4rem;
    margin-top: -1rem;
}


#message{
    text-align: center;
    font-size: 3rem;
}


main{
    padding: 0 20px;
}

/* discover */


.container {
    display: flex;
    flex-direction: column;      
}

#main-discover{
    padding: 0 0;
}

.sidebar div{
    background-color: #f4f4f4;
    
    
}


  .sidebar {
    padding: 0 10px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    
  }
  .sidebar h2 {
    margin-top: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
   
  }
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

  .sidebar div{
    border: 2px solid black;
    margin: 5% 0;
    padding: 5%;
    border-radius: 8px;
  }


  /* directory */

    .members div{
        margin: 10px;
        padding: 10px;
        background-color: rgb(232, 248, 247);
        border-radius: 8px;
        height: 320px;
        text-align: center;
        padding-top: 30px;
        
    }

    .members div p{
        font-size: 15pt;
    }

    .members{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;      

    }

    
    
    

    .list div{

        text-align: left;
        height: 200px;
        justify-content: center;

    }

    .list img{
        display: none;
    }


  
    .buttons button{
        margin-right: 10px;
        padding: 10px;
        margin: 10px;
        font-size: 20pt;
        border-radius: 10px;
        background-color: rgb(232, 248, 247);
        border: 2px solid #005f73;
    }

    .buttons{
        text-align: center;
        margin-top: 20px;
        padding-right: 10px;
    }

    .list div:nth-child(even) {
        background-color: #ffffff; 
    }


  