body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f1db;
}

header
{   margin-top: -2rem;
    background-color: #092145;
    text-align: center;
    padding-bottom: 2rem;  
    width: 100%;
 } 

 #hero-button {
    background-color: #f8f1db; 
    color: #092145; 
    padding: 0.3rem 1.5rem; 
    cursor: pointer;
    font-size: 1.2em; 
    border: none;
    border-radius: 5px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#hero-button:hover {
    background-color: #092145;
    color: #f8f1db;
    transform: scale(1.05);
}

#hero-button:active {
    transform: scale(0.95);
}



footer
{
    background-color: #092145;
    color: #f8f1db;
    text-align: center;
    padding: 1rem;

    bottom: 0;
    
}

/* class selectors */

.hero-image{
    
    position: relative;
    height: 100%;    
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top:30%;
    left:7%;
    text-align: center;    
}

#events, #weather, #ad {
    margin-bottom: 2rem; 
    padding: 1rem; 
    background-color: rgb(232, 248, 247); 
    box-shadow: 0 2px 5px #092145; 
    border-radius: 10px; 
}

#weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
}

#weather > h1 {
    flex: 1 100%; 
    margin: 0; 
}

#weather div{
    background-color: #f8f1db;
    color: #092145;
    width: 170px;
    border-radius: 8px;
    border: 2px solid black;
}

#ad{
    text-align: center;
}

.members-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 2rem;
}


#ad div{
    background-color: #f8f1db;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 1rem 2rem;

}

header h1{
    font-size: 3rem;
    padding-top: 1.5rem;
    color: #f8f1db;
}

#banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    background-color: rgb(232, 248, 247); 
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;
    height: 300px;
    width: 300px;
    justify-content: center;
    text-align: center;
}
#banner p{
    font-size: 20pt;
}

#banner button{
    font-size: 20pt;
    background-color: #ff6b42;
    color: #ffffff;
    cursor: pointer;
    padding: .6rem 1.4rem;
    border-radius: 14px;
    margin: 1.5rem 0;
}

/* id selectors */

#content{
    display: flex;
    flex-direction: column;
}


#description
{
    text-align: center;
}



#menu{
    position: absolute;
    left: 25px;
    top: 195px;
    cursor: pointer;
    color: #092145;
    background-color: #f8f1db;
    font-size: 2rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}

.navigation.open a{
    display: block;
}


.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    margin-bottom: -2rem;
    
}

.navigation a{
    text-decoration: none;
    padding: 1rem;
    color: #f8f1db;
    display: none;
    font-size: 1.6rem;
}




#description p{

    font-size: 2rem;
    text-align: center;
}

#scenarios h2, #scenarios p{
    font-size: 2rem;
}

#scenarios{
    margin-top: 5rem;
}


/* nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

nav ul a{
    text-decoration: none;
    padding: 2rem;
    color: #eae2b7;

} */



/* join selectors */

label{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
input, textarea{
    display: block;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border: 2px solid gray;
    border-radius: 8px;
    width: 400px;
}

fieldset{
    padding: 2rem 1rem;
    box-shadow: 0 2px 5px 5px #093863;
    border: none;
    border-radius: 10px;
    background-color: rgb(232, 248, 247);
    ;
}



input[type="radio"] {
    display: inline;
}
input[type="submit"]{
    cursor: pointer;
    margin-top: 3rem;
    width: 430px;
}

#description{
    height: 80px;
    text-align: left;
}

#level input{
    padding: 1rem 0;
    max-width: 30px;
}
#level{
    padding: 1rem 0;
}

#form{
    display: block;
    padding: 2% 2%;

}

#heading{
    padding-top: 1rem;
}


#membership{

    padding: 2rem 1rem;
    box-shadow: 0 2px 5px 5px #093863;
    border: none;
    border-radius: 10px;
    background-color: rgb(232, 248, 247);
    margin: 2rem 0.2rem;
}


#membership p{
    font-size: 1.4rem;
    margin-top: -1rem;
}


#message{
    text-align: center;
    font-size: 3rem;
}


main{
    padding: 0 20px;
}

/* discover */


.container {
    display: flex;
    flex-direction: column;      
}

#main-discover{
    padding: 0 0;
}

.sidebar div{
    background-color: #f4f4f4;
    
    
}


  .sidebar {
    padding: 0 10px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    
  }
  .sidebar h2 {
    margin-top: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
   
  }
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #092145;
    color: #fff;
    padding: 18px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

  .sidebar div{
    border: 2px solid #092145;
    margin: 5% 0;
    padding: 5%;
    border-radius: 8px;
  }


  /* directory */

    .members div{
        margin: 10px;
        padding: 10px;
        background-color: rgb(232, 248, 247);
        border-radius: 8px;
        height: 320px;
        text-align: center;
        padding-top: 30px;
        
    }

    .members div p{
        font-size: 15pt;
    }

    .members{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;      

    }

    
    
    

    .list div{

        text-align: left;
        height: 200px;
        justify-content: center;

    }

    .list img{
        display: none;
    }


  
    .buttons button{
        margin-right: 10px;
        padding: 10px;
        margin: 10px;
        font-size: 20pt;
        border-radius: 10px;
        background-color: rgb(232, 248, 247);
        border: 2px solid #092145;
        cursor: pointer;
    }

    .buttons{
        text-align: center;
        margin-top: 20px;
        padding-right: 10px;
    }

    .list div:nth-child(even) {
        background-color: #ffffff; 
    }


  