@media screen and (min-width: 500px) {

    /* nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



    nav ul li {
        padding: 0 5%;
    }  */


    #menu{
        display: none;
    }


    .navigation{
        flex-direction: row;
    }

    .navigation a{
        display: block;
        padding: 0 5%;
        font-size: 2rem;
    }


    #content{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 2rem;
        
    }

    .events {
        grid-column: 1/2;
    }
    
    .weather{
        grid-column: 2/3;
    }

    .ad{
        grid-column: 3/4;
    }

    .hero-text{
        position: absolute;
        top:22%;
        left:20%;
        text-align: center; 
        font-size: 3rem;   
    }


    input{
        width: 400px;
    }
    
    #form{
        padding: 2% 4%;
    }

    main{
        padding: 0 50px;
    }


    
    


    /* discover */
    #main-discover{
        padding: 1px 0;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        padding: 20px;
      }
      .image-container:hover .image-caption {
        opacity: 1;
      }

      .sidebar{
        margin-top: -20px;

      }
      

      
}

@media screen and (min-width: 850px){
    #form{
        display: grid;
        grid-template-columns: 55% 45%;
        grid-gap: 2rem;
    }

    #membership{
        margin: 0 0 ;
    }
    
    .container{
        margin-left: 2%;
    }

    main{
        padding: 0 10%;
    }
    

    /* directory */

    .members{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .list div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        height: auto;
        padding: 0 20px;
        width: 100%;
        align-items: center;
    }

    


}

@media screen and (min-width: 1000px){
    #form{
        padding: 2% 10%;
    }

    fieldset{
        padding-left: 8rem;
    }
    .sidebar h3{
        font-size: 28pt;
    }

    .sidebar li {
        font-size: 20pt;
    }
}


