@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* html selectors */

body
{
    font-family: 'Poppins', sans-serif;
    background-color: #e9edc9;
}


header 
{
    background-color: #a3b18a;
    color: #283618;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img
{
    /* grid-column: 2/3; */
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

header span{
    /* grid-column: 3/4; */
    margin-left: 5%;
    font-size: 200%;
}




nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-direction: column;
    background-color: #e9edc9;
    /* margin-top: 4%; */
    display: none;
}

nav.open ul{
    display: flex;
}

nav.open ul a {
    display: block;
}

#menu {
    background-color: #a3b18a; 
    color: #283618; 
    padding: 10px 40px; 
    border: 2px solid #283618; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color .3s; 
    margin: 5%;
}


#menu:hover {
    background-color: #283618; 
    color: #a3b18a;
}


#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}

nav li 
{
    border: 2px solid black;
    padding: 1rem 2rem 1rem 2rem;

}

nav li:hover
{

    background-color: #a3b18a;
}

#dark{
    position: absolute;
    right: 7%;
    top: 3%;
}

#dark::before{
    content: "Dark Mode";
}

#dark.change::before{
    content: "Light Mode";
}

#dark{
    background-color: #e9edc9; 
    color: #283618; 
    padding: 10px 40px; 
    border: 2px solid #283618; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color .3s; 
    
}

#dark:hover {
    background-color: #283618;
    color: #e9edc9;
    border: 2px solid #e9edc9;
}



main.change{
    background-color: #283618;
    transition: background-color .5s;
}

main.change h1 {
    color:#e9edc9;
}

main.change section {
    color: #e9edc9;
    background-color: #a3b18a;
    border: 5px solid white;
    box-shadow: 0px 5px 10px #a3b18a;


}

main.change section h2{
    background-color: #283618;
}

main.change section ul li a{
    color: white;
}


footer.changef{
    background-color: #283618;
    color: #a3b18a;
}

nav a
{
    text-decoration: none;
    color: #283618;
}

footer
{
    background-color: #a3b18a;
    color: #283618;
    text-align: center;
    padding: 20px;
}

main
{
    
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 1%;
    
}

li a 
{
    text-decoration: none;
    color: #283618;
}




/* class selectors */


.learning-heading, .info-heading, .map-heading
{
    background-color: #a3b18a;
    padding: 1.5rem;
    text-align: center;
}
.map-heading{
    margin-left: 15px;
    margin-right: 15px;
}


.learning-activities
{
    /* grid-column: 2/5; */
    border: 2px solid #283618;
    /* grid-row: 2/3; */
    padding: 1rem 1rem 1rem 1rem;
    border: 2px solid #283618;
    text-align: left;
    box-shadow: 0px 5px 10px #283618;

}

.information
{
    /* grid-column: 6/7; */
    border: 2px solid #283618;
    /* grid-row: 2/3; */
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 5px 10px #283618;

}

.heading
{
    grid-row: 1/2;
    grid-column: 1/8;
}

.weeks
{
    list-style-type: none;
    padding: 0;
}

.hero-image{
    
    position: relative;
    height: 100%;    
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-label {
    position: absolute;
    top: 10%;
    left: 5%;
    background: radial-gradient( #a3b18a, #e9edc9);
    padding: 0 15px ;
    box-shadow: 0 0 3rem #e9edc9;
    opacity: .75;
}

.hero-label p {

	font-weight: 300;
	
}

.map{
    margin-top: 2rem;
    grid-column: 1/3;
    border: 2px solid #283618;
    /* grid-row: 2/3; */
    padding: auto;
    box-shadow: 0px 5px 10px #283618;


}

iframe{
    padding-left: 2%;
    width: 1500px;
    height: 500px;
    max-width: 90%;
}